body{
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(270deg, #e96443, #904e95);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: colorAnimation 10s ease infinite;
  font-family: 'Slabo 13px', serif;
}
@keyframes colorAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.title{
  font-size: 4.0rem;
  text-align: center;
  color: white;
  margin-top: 150px;
  font-family: 'Ultra', serif;
}
.modal-title{
  font-family: 'Ultra', serif;
}
.btn{
  font-weight: bold;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
  padding: 5px 20px 5px 20px;
}
.setTime{
  margin-top: 40px;
  font-size: 23px;
}
.modal{
  margin-top: 100px;
}
h4{
  margin-top: 8px;
  margin-left: 10px;
}
option{
  font-family: 'Slabo 13px', serif;
  font-weight: bold;
}
